$width: 700px;
$height: 400px;

:host {
  display: block;
  position: relative;
  background-color: black;
  width: $width;
  height: $height;
  border: 1px white solid;
}

.middle {
  $bar_width: 4px;

  position: absolute;
  left: calc(50% - #{$bar_width} / 2);
  box-sizing: border-box;
  height: 100%;
  width: 0px;
  border-left: $bar_width dashed white;
}

.score-board {
  position: absolute;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.myPlayer {
  background-color: gray;
}
