<div class="score-board">
  <app-score-display [score]="player1?.score"></app-score-display>
  <app-score-display [score]="player2?.score"></app-score-display>
</div>
<app-player [ngClass]="{ 'myPlayer': player1?.number == playerNo}" *ngIf="player1" [x]="player1.pos.x" [y]="player1.pos.y" [height]="player1.height" [width]="player1.width"></app-player>
<app-player [ngClass]="{ 'myPlayer': player2?.number == playerNo}" *ngIf="player2" [x]="700 - player2.width - 20" [y]="player2.pos.y" [height]="player2.height" [width]="player2.width"></app-player>
<app-ball *ngIf="ball" [position]="ball.pos" [size]="ball.size"></app-ball>
<div class="middle"></div>
